
link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
link(rel='stylesheet' href='C:\WebFrameWorksProject\intense-headland-50514\public\stylesheets')
meta(name='viewport' content='width=device-width, initial-scale=1')
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Car-Rental
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href='#') Sign In! 
      li.nav-item
        a.nav-link(href='#') Sign Up!
      li.nav-item
        a.nav-link(href='#') Search Cars
form.form-horizontal
head
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style.
    * {
    box-sizing: border-box;
    }
    #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    }
    #myUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height:10px;
    }
    #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
    }
    #myUL li a:hover:not(.header) {
    background-color: #eee;
    }
input#myInput(type='text'  placeholder='Search for cars..' title='Type in a name')
input(type='submit' class="btn btn-outline-success" onclick='myFunction()' value='Submit')

ul#myUL
 each car in cars
  li
    a(href="#")= " Car Name: " + car.name + " Car Price: " +car.price
	
script.
     function validation() {
     if(document.getElementById('myInput').value === ""){
        alert("enter something valid");
        document.getElementById('myInput').innerHTML = "";
        return false;
        }
        else if (!document.getElementById('myInput').value.match(/^[A-Za-z]+$/)){
          alert("Can only enter letters");
        document.getElementById('myInput').innerHTML = "";
        return false;
        }
        else{return true;}
            }
        
    
  function myFunction() {
  if(validation() == true){
  let input, filter, ul, li, a, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  ul = document.getElementById("myUL");
  li = ul.getElementsByTagName("li");
  for (i = 0; i < li.length; i++) {
  a = li[i].getElementsByTagName("a")[0];
  txtValue = a.textContent || a.innerText;
  if (txtValue.toUpperCase().indexOf(filter) > -1) {
  li[i].style.display = "";
  } else {
  li[i].style.display = "none";
  }
  }
  }
  }

  

